@font-face {
  font-family: 'inter';
  src: local('inter'), url(./../fonts/Inter.ttf) format('truetype');
}

@font-face {
  font-family: 'urw-gothic';
  src: local('urw-gothic'), url(./../fonts/URWGothic-Demi.ttf) format('truetype');
}